p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #FFFFFF;
  font-family: Arial;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

header {    
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #A7C7E7;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
}

.logo {
  width: 60px;
  height: 60px;
}

.log-in-button {
  background-color: #74C0FC;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 10px;
  border-width: 3px;
  border-style: solid;
  font-weight: bold;
  cursor: pointer;
  border-color: #FFFFFF;
  transition: all 0.15s;
}

.register-button {
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 10px;
  border: none;
  color: #FFFFFF;
  background-color: #A8E6CF;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.link-to-log, 
.link-to-regiter {
  text-decoration: none;
  height: 0;
}

.log-in-button:hover {
  background-color: #4A90E2;
}

.register-button:hover {
  background-color: #7DC7A8;
}

.log-in-button:active,
.register-button:active {
  opacity: 0.8;
}

.page {
  color: white;
  transition: all 0.15s;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1;
  text-decoration: none;
}

.page:hover {
  background-color: rgba(255, 135, 14, 0.352);
}

main {
  margin-top: 83px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.home-description {
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 30px;
}

.selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7089c0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.first {
  width: 20px;
  height: 20px;
}

.second {
  width: 30px;
  height: 30px;
}

.third {
  width: 40px;
  height: 40px;
}

.fourth {
  width: 50px;
  height: 50px;
}

.fifth {
  width: 60px;
  height: 60px;
}

.percentage-label {
  font-weight: bold;
  margin-right: 15px;
}

/* Update the selectors to apply colors based on the suffix of the IDs */
input[id$="-lowest"] {
  accent-color: rgb(51, 152, 0);
}

input[id$="upper-lowest"] {
  accent-color: rgb(40, 119, 0);
}

input[id$="middle"] {
  accent-color: rgb(152, 96, 0);
}

input[id$="under-highest"] {
  accent-color: rgb(152, 68, 0);
}

input[id$="highest"] {
  accent-color: rgb(255, 0, 0);
}


.happy-selection,
.sad-selection,
.tired-selection,
.energetic-selection,
.stressed-selection,
.anger-selection {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 30px;
}

.happy-selection {
  background: #FFF5BA;
}

.happy-selection {
  background: #B3E5FC;
}

.sad-selection {
  background: #FFF5BA;
}

.tired-selection {
  background: #F5E6CC;
}

.energetic-selection {
  background: #A1E8D9;
}

.stressed-selection {
  background: #FFC6A4;
}

.anger-selection {
  background: #FFB3B3;
}

.mood {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #1A1A2E;
}

.mood-description {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: #1A1A2E;
}

.c-a-r-button {
  padding: 20px 16px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: white;
  background-color: rgb(183, 24, 24);
  transition: all 0.15s;
}

.c-a-r-button:hover {
  background-color: rgb(154, 24, 24);
}

.c-a-r-button:active {
  opacity: 0.6;
}

footer {
  background-color: #A1E8D9;
  padding: 20px 200px;
}

.contact-us {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.icons {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: all 0.15s;
}

.icon:hover {
  opacity: 0.8;
}

.icon-link {
  text-decoration: none;
  height: 0;
}


#result {
  margin-top:20px;
  white-space: pre-line; 
  font-weight: bold;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  font-family: Arial, sans-serif;

}

.modal {
  background-color: #1111;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: #111;
  padding: 15px 25px;
  text-align: center;
  width: 380px;
}

.modal-inner h2{
  margin: 0;
}

.modal-inner p {
  line-height: 24px;
  margin: 10px 0;
}

.closeModal{
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #663399, #8853bd);
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
}